*{
    margin:0;
    padding:0;
}
body{
    background: #2A2139;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.HeaderCont {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    background-color:#241B2F;
    height: 40px;
    
}

.logo img {
    filter: invert(100%);
    width: 50px;
}

.links {
    display: flex;
    width: 200px;
    justify-content: space-between;
}
.links a, a:visited {
    color:#FFF5D3;
    text-decoration: none;
    font-weight: bold;
}

.emphasis1 {
    color:#F97E72;
}

.emphasis2 {
    color:#CF70D6;
}